.card-header{
    background-color: rgb(147, 219, 241);
}
.nore{
    margin: 20px;
}
  .img-circle {
   width: 100px;
    height:100px;
  }
  
// .ogin-box{
//     width: 800px;
//     height: 400px;
// }
//login
