.card-header{
    background-color: rgb(147, 219, 241);
}
.nore{
    margin: 20px;
}
  .img-circle {
   width: 100px;
    height:100px;
  }
  
// .ogin-box{
//     width: 800px;
//     height: 400px;
// }
.card-outline{
    height:695px;
    width: 500px;
    border-radius: none;
    right:-448px;
}
.titlt-img{
  position: absolute; 
  width:990px ;
  height:695px;
  left:0px;
  background-color: black;
}